{% extends 'index.html' %}
{% block title %} Courses | LanguageTutor {% endblock title %}
{% block profile %}
{% if faculty %} {% url 'profile' faculty.faculty_id %}
{% else %} {% url 'profile' student.student_id %}
{% endif %}
{% endblock %}
{% block user %}
{% if faculty %} {{faculty.name}}
{% else %} {{student.name}}
{% endif %}
{% endblock user %}
{% block courses %}
{% url 'myCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block content %}
<style>
   .card {
  position: relative;
  width: 20rem;
  height: 20rem;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 21rem;
  height: 21rem;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ab9e60 0%, #ab9e60 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ab9e60 0%, #ab9e60 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(0.77) scaleY(0.77);
}
</style>
<div class="container">
   <!-- navigation links -->
   <div class="container shadow-sm">
      <nav
         style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
         aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
            <li class="breadcrumb-item active animate__animated animate__backInRight" aria-current="page">All courses
            </li>
         </ol>
      </nav>
   </div>
   <!-- navigation links end -->
   <div class="row gy-5">
      <form action="" method="POST">
         {% csrf_token %}
         <select name="dept" id="">
            {% for dep in department %}
            <option value={{dep.department_id}}>{{dep}}</option>
            {% endfor %}
         </select>
         <button type="submit">Search</button>
      </form>
      {% if courses %}

      <div style="display: flex;justify-content: center;flex-wrap: wrap;flex-direction: row;">
         {% for course in courses%}
         <div class="card">
            <div class='heading' style="color: white;">Dept. of {{course.department}}</div>
               <p style="font-size: 20px;color: rgb(176, 176, 176);">${{course.studentKey}}</p>
               <p style="color: white;">Course Name :- {{course.name}}</p>
               <p style="color: white;">Faculty Name :- {{course.faculty}}</p>
               <p style="color: #e81cff;">Timing :- {{course.facultyKey}}</p>
            {% if not faculty %}
                        {% comment %} if student {% endcomment %}
                        {% if course not in enrolled%}
                        <a href="{% url 'access' course.code %}" class="btn btn-outline-dark"><span
                              class="px-2">Access</span></a>
                        {% else %}
                        <a href="{% url 'course' course.code %}" class="btn btn-outline-dark"><span
                              class="px-3">Enter</span></a>
                        {% endif %}
                        {% endif %}
          </div>
         <!-- individual card starts -->
                  <!-- individual card ends -->
                  {% endfor %}
               </div>
            </div>
            {% else %}
            <div class="text-center h4 text-secondary">No courses to show</div>
            {% endif %}
         </div>
         {% endblock %}