{% extends 'index.html' %}
{% block title %} Courses | LanguageTutor {% endblock title %}
{% block profile %}
{% if faculty %} {% url 'profile' faculty.faculty_id %}
{% else %} {% url 'profile' student.student_id %}
{% endif %}
{% endblock %}
{% block user %}
{% if faculty %} {{faculty.name}}
{% else %} {{student.name}}
{% endif %}
{% endblock user %}
{% block courses %}
{% url 'myCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block content %}
<style>
.card {
  max-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  border-top: 5px solid #ff7aac;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(23, 79, 138, 0.1);
}

.card_title {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: var(--fw-bold);
}

.card_content {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.card_img {
  margin-left: auto;
  display: block;
}

@media (max-width: 768px) {
  .card_grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    align-items: stretch;
  }

  .cyan {
    grid-area: auto;
  }

  .blue {
    grid-area: auto;
  }

  .card {
    max-width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .card_grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

</style>
<div class="container">
   <!-- navigation links -->
   <div class="container shadow-sm">
      <nav
         style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
         aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
            <li class="breadcrumb-item active animate__animated animate__backInRight" aria-current="page">All courses
            </li>
         </ol>
      </nav>
   </div>
   <!-- navigation links end -->
   <div class="row gy-5">
      <form action="" method="POST">
         {% csrf_token %}
         <div style="width: 100%;display:flex;justify-content: center;gap: 5px;">
         <select name="dept" id="" style="height: 40px;width: 15rem;border-radius: 10px ;border: none;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" >
            {% for dep in department %}
            <option value={{dep.department_id}}>{{dep}}</option>
            {% endfor %}
         </select>
         <button style="border: none;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 10px !important;" class="btn btn-outline-dark"  type="submit">Search</button>
      </div>
      </form>
      {% if courses %}

      <div style="display: flex;justify-content: center;flex-wrap: wrap;flex-direction: row;">
         {% for course in courses%}
         <section class="card red">
            <h2 class="card_title" style="font-weight: 800;font-size:30px;">Dept. of {{course.department}}</h2>
            <p class="card_content"style="font-weight: 800;font-size:25px;">${{course.studentKey}}</p>
            <p class="card_content"style="font-weight: 600;">Course Name :- {{course.name}}</p>
            <p class="card_content"style="font-weight: 600;">Faculty Name :- {{course.faculty}}</p>
            <p class="card_content"style="font-weight: 600;">Timing :- {{course.facultyKey}}</p>
            <img class="card_img" src="https://raw.githubusercontent.com/davidsonaguiar/frontendmentor/main/Four%20card%20feature%20section/images/icon-team-builder.svg" alt="page-home">
            {% if not faculty %}
                        {% comment %} if student {% endcomment %}
                        {% if course not in enrolled%}
                        <a href="{% url 'access' course.code %}" class="btn btn-outline-dark"><span
                              class="px-2">Access</span></a>
                        {% else %}
                        <a href="{% url 'course' course.code %}" class="btn btn-outline-dark"><span
                              class="px-3">Enter</span></a>
                        {% endif %}
                        {% endif %}
          </section>
         <!-- individual card starts -->
                  <!-- individual card ends -->
                  {% endfor %}
               </div>
            </div>
            {% else %}
            <div class="text-center h4 text-secondary">No courses to show</div>
            {% endif %}
         </div>
         {% endblock %}