{% extends 'index.html' %}
{% block title %}Dashboard | LanguageTutor {% endblock title %}
{% block profile %}
{% url 'profile' student.student_id %}
{% endblock %}
{% block user %}
{{student.name}}
{% endblock user %}
{% block allCourses %}
{% url 'courses' %}
{% endblock%}
{% block courses %}
{% url 'myCourses' %}
{% endblock %}
{% block content %}

<style>
   .pricing {
      padding: 0px 0;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 0.3px;
      .package.brilliant {
         background: #ffffff;
      }

      .package {
         height: 400px;
         border-radius: 50px;
         text-align: center;
         border: 2px solid #c2c652;
         background: #9ebb20;
         color: #000000;
         min-width: 400px;
         max-width: 400px;
      }

      .name {
         font-size: 24px;
         margin-top: 20px;
         font-weight: 600;
      }

      .price {
         margin-top: 10px;
         font-size: 18px;
         background: #000000;
         display: inline-block;
         padding: 17px 20px;
         border-radius: 50%;
         font-weight: 800;
         color: #6A8347;
      }

      .scheme {
         margin-top: 5px;
      }
   }
</style>
<div>
   <!--navigation links-->
   <div class="container">
      <div class="container shadow-sm">
         <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb p-3">
               <li class="breadcrumb-item active" aria-current="page">My courses</li>
            </ol>
         </nav>
      </div>
      <div class="row gy-5">
         {% if courses %}
   
      <div style="display: flex;justify-content: center;flex-wrap: wrap;flex-direction: row;">

            {% for course in courses%}
            <!-- individual card starts -->
            <div class="pricing">
               <div class="container">
                        <div class='package'>
                           <div class='name'>Dept. of {{course.department}}</div>
                           <div class='price'>${{course.studentKey}}</div>
                           <div class="scheme">/ month / student</div>
                           <hr>
                           <p> Course Name :- {{course.name}}
                           </p>
                           <p> Faculty Name :- {{course.faculty}}
                           </p>
                           <p> Timing :- {{course.facultyKey}}
                           </p>
                           <a href="{% url 'course' course.code %}" class="btn btn-outline-dark"><span
                              class="px-3">Enter</span></a>
                        </div>
                     </div>
                     </div>
                     <!-- individual card ends -->
                     {% endfor %}
                  </div>
               </div>
               {% else %}
               <div class="text-center h4 text-secondary">No courses to show</div>
               {% endif %}
            </div>
            {% endblock %}